/.idea/**
/target/**
/out/**
*.iml
debug.log
classes/
/src/main/resources/node_modules/**
src/main/resources/package-lock.json
/AppRunner/ServerRunner/bin/**
/AppRunner/ServerRunner/obj/**
AppRunner/.vs/
