{% extends '../base-layout.twig' %}

{% block body %}
    <div class="mt-2">
        <h3>Report Time</h3>
        <hr>
        {% embed '../partials/report.twig' %} {% endembed %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/static/js/date-picker.js"></script>
    <script src="/static/js/report-helper.js"></script>
{% endblock %}